language: perl

perl:
 - "5.10"
 - "5.12"
 - "5.14"
 - "5.16"
 - "5.18"
 - "5.19"

install:
 - sudo apt-get -qq update
 - sudo apt-get -qq install libssl-dev libssh2-1-dev openssh-client openssh-server
 - cpanm --notest Dist::Zilla Dist::Zilla::PluginBundle::Author::ALEXBIO Pod::Coverage::TrustPod
 - dzil listdeps --missing | cpanm --notest

script:
 - ssh-keygen -t rsa -f ~/.ssh/id_rsa -N "" -q
 - cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
 - ssh-keyscan -t rsa localhost >> ~/.ssh/known_hosts
 - dzil smoke --release

notifications:
  recipient:
   - alessandro@ghedini.me
   - jacquesg@cpan.org
  email:
    on_success: change
    on_failure: always
